*{
  color: white;
}
.App{
  border: solid black 3px;
 
  width: 100vw;
  height: 100vh;
  flex-direction: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: cover;
}